
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResetPassword</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="row justify-content-center mt-5">
        <div class="col-5">
            <div class="card">
                <div class="card-header"><h3 class="text-center">Reset password</h3></div>
                <div class="card-body">
                    @if (ViewBag.Reset == null)
                    {
                        <form action="@Url.Action("ResetPassword", "Login")" method="post">
                            <p>Please write below your e-mail address and you will receive a link for resetting your password.</p>
                            <div class="mb-3">
                                <label>E-mail</label>
                                <input type="email" class="form-control" name="email" value="@(ViewBag.Email != null ? ViewBag.Email : "")" required />
                            </div>

                            @if (ViewBag.Message != null)
                            {
                                <div class="alert alert-danger">
                                    @ViewBag.Message
                                </div>
                            }

                            <div class="mb-3">
                                <div class="d-grid">
                                    <button class="btn btn-primary" type="submit">Reset</button>
                                    <a class="btn btn-link" href="@Url.Action("Login", "Login")">Return</a>
                                </div>
                            </div>
                        </form>
                    }
                    else
                    {
                        <div class="alert alert-success">
                            <p>Your password has been reset. We sent you an email for setting up a new password.</p>
                            <a class="btn btn-success" href="@Url.Action("Login","Login")">Ingresar</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
