
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpdatePassword</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="row justify-content-center mt-5">
        <div class="col-5">
            <div class="card">
                <div class="card-header"><h3 class="text-center">Update password</h3></div>
                <div class="card-body">
                    @if (ViewBag.Reset == null)
                    {
                        <form action="@Url.Action("UpdatePassword", "Login")" method="post">
                            <input type="hidden" name="token" value="@ViewBag.Token" />
                            <div class="mb-3">
                                <label>Type a new password</label>
                                <input type="password" class="form-control" name="pwd" required />
                            </div>
                            <div class="mb-3">
                                <label>Confirm your password</label>
                                <input type="password" class="form-control" name="confirmPwd" required />
                            </div>

                            @if (ViewBag.Message != null)
                            {
                                <div class="alert alert-danger">
                                    @ViewBag.Message
                                </div>
                            }

                            <div class="mb-3">
                                <div class="d-grid">
                                    <button class="btn btn-primary" type="submit">Set new password</button>
                                </div>
                            </div>
                        </form>
                    }
                    else
                    {
                        <div class="alert alert-success">
                            <p>Your password has been reset. You can login with your new password.</p>
                            <a class="btn btn-success" href="@Url.Action("Login","Login")">Ingresar</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
